*{
margin:0;
padding: 0;
box-sizing: border-box;
}

header{
display:relative;
font-size:2rem ;
background-color: black;
}

.nav{
position:fixed;
display: flex;
justify-content: flex-end;
width:50%;
height:fit-content;
padding:1%;


}
.nav-link{
color: orange;
}

#pizza-point-logo{
font-family: 'Lobster', cursive;   
color:orange;
padding: 2%;
}

.content-cover{
color:black;
font-weight: bolder;
background-color:transparent;
padding: 10%;
}

.cover-page{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top:3%;
}

#order{ 
font-size: 4rem;
color: white;
}

#order-paragraph{
font-size:2rem;
color: white;
}

.order-btn{ 
width:400px;
height: fit-content;
font-size:1rem;
font-weight: 400px;
background-color:orange;
border-radius: 1rem;
margin-top: 3%;
}

.cover-page{
width: 100vw;
height:100vh;
background-image:url(./background/ivan-torres-MQUqbmszGGM-unsplash.jpg) ;
background-size: cover;
display: cover;
position: center;
}

#menu{
background-color:#000;
width:100vw;
height:fit-content;
color:white;
}

#menu-id{
    color:orange;
    font-size: 3rem;
    padding: 2%;
}
.card{
    margin-right:15px;
    border-radius: 20px;
}
.card-body{
    color:black;
}

.controls-top{
    padding: 2%;
    color: orange;
}

#order-forms{
    display: flex; 
    justify-content: center; 
    align-content: center;  
}

#order-form{
    margin-right: 4%;
    position: center;
    
}
.form-control{
    width:300px;
    height:auto;
}
.form-input{
    width:300px;
    height:auto;
    padding: 2%;  
    border-radius: 10%;
}

#delivery-btn{
    width:300px;
    height:fit-content;
    font-size:1rem;
    font-weight: 400px;
    background-color:orange;
    border-radius: 1rem;
    margin-top: 3%;   
}

.contact-us{
    width:100vw;
    height:fit-content;
    background-color:orange;
    color: black;
}